
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/var/cache/
/var/log/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
composer.lock
config/packages/dev/web_profiler.yaml
yarn.lock
.env
/.idea/codeStyles/codeStyleConfig.xml
/.idea/diversis.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/vcs.xml
/.idea/workspace.xml
/symfony.lock
/symfony.lock
