{% block menuStructure %}
    <!--  BEGIN MENU  -->
    <div class="layers layers-menu">
        <div class="card text-center card-menu">
            <div class="card-body link-to-tour">
                <div class="img-body-card img-card-link-tour">
                    <img src="{{ asset('img/simple-tour.PNG') }}" />
                </div>
                TOUR
            </div>
        </div>
        <div class="card text-center card-menu">
            <div class="card-body link-to-portique">
                <div class="img-body-card img-card-link-portique">
                    <img src="{{ asset('img/simple-portique.PNG') }}" />
                </div>
                PORTIQUE
            </div>
        </div>
        <div class="card text-center card-menu">
            <div class="card-body link-to-totem">
                <div class="img-body-card img-card-link-totem">
                    <img src="{{ asset('img/simple-totem.PNG') }}" />
                </div>
                TOTEM
            </div>
        </div>
    </div>
    <!--  END MENU  -->
{% endblock %}