{% block profilUser %}
    <div class="card text-center card-profil-users">
        <div class="card-header">
            <label class="col-sm-4 "><h1>Détails</h1></label>
        </div>
        <div class="card-body">
            <div id="user-structures">

            </div>
        </div>
        <div class="card-footer text-muted">

        </div>
    </div>
{% endblock %}