{% extends 'base.html.twig' %}

{% block body %}
    <p>
        Une erreur est survenue, veuillez vous reconnecter sur la  <a href="{{ path('login') }}">page d'authentification</a>.
    </p>
{% endblock %}