<p>Bonjour,</p>
<p>Merci de cliquer sur un des liens de confirmation suivant : <a href='{{ link_confirm }}'>ici</a>.</p>
<p> ou copier coller cette url : </br>
    {{ link_confirm }}</p>
<p>Vous allez être redirigé vers l'application.</p>
<p> Ne pas répondre à ce mail, merci de votre compréhension.</p>
